<!-- Add Item Form -->
<form>
    <fieldset class="form-control">
        <legend>Add Item</legend>
        <div class="row mb-3">
            <div class="col-4">
                <label for="newName" class="form-label">Name:</label>
                <input type="text" id="newName" class="form-control" placeholder="Item Name" maxlength="255" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1">
                <label for="damage" class="form-label">Damage:</label>
                <input type="number" id="damage" class="form-control" value="0" required>
            </div>
            <div class="col-1">
                <label for="cost" class="form-label">Cost:</label>
                <input type="number" id="cost" class="form-control" value="0" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <button type="submit" class="btn btn-primary">Add New Item</button>
            </div>
        </div>
    </fieldset>
</form>

<!-- Remove Item Form -->
<form>
    <fieldset class="form-control">
        <legend>Remove Item</legend>
        <div class="row mb-3">
            <div class="col-1">
                <label for="itemID" class="form-label">Item ID:</label>
                <input type="number" id="itemID" class="form-control" placeholder="0" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <button type="submit" class="btn btn-danger" onclick="alert('Are you sure?')">Remove Item</button>
            </div>
        </div>
    </fieldset>
</form>
