<!-- New Character Form -->
<form>
    <fieldset class="form-control">
        <legend>Add Character</legend>
        <div class="row mb-3">
            <div class="col-4">
                <label for="newName" class="form-label">Name:</label>
                <input type="text" id="newName" class="form-control" placeholder="Character Name" maxlength="255" required>
            </div>
            <div class="col-1">
                <label for="health" class="form-label">Health:</label>
                <input type="number" id="health" class="form-control" placeholder="health" value="0" required>
            </div>
            <div class="col-1">
                <label for="enemiesKilled" class="form-label">Enemies Killed:</label>
                <input type="number" id="enemiesKilled" class="form-control" value="0" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1">
                <label for="magic" class="form-label">Magic Points:</label>
                <input type="number" id="magic" class="form-control" value="0" required>
            </div>
            <div class="col-1">
                <label for="strength" class="form-label">Strength:</label>
                <input type="number" id="strength" class="form-control" value="0" required>
            </div>
            <div class="col-1">
                <label for="money" class="form-label">Money:</label>
                <input type="number" id="money" class="form-control" value="0" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <button type="submit" class="btn btn-primary">Add New Character</button>
            </div>
        </div>
    </fieldset>
</form>

<!-- Remove Character Form -->

<form>
    <fieldset class="form-control">
        <legend>Remove Character</legend>
        <div class="row mb-3">
            <div class="col-1">
                <label for="charID" class="form-label">Character ID:</label>
                <input type="number" id="charID" class="form-control" placeholder="0" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <button type="submit" class="btn btn-danger" onclick="alert('Are you sure?')">Remove Character</button>
            </div>
        </div>
    </fieldset>
</form>
