
<!-- Alter Enemy Form -->
<form>
    <fieldset class="form-control">
        <legend>Alter Enemy</legend>
        <div class="row mb-3">
            <div class="col-2">
                <label for="enemyID" class="form-label">Enemy ID:</label>
                <input type="number" id="enemyID" class="form-control" required>
            </div>
            <div class="col-4">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" class="form-control" placeholder="Enemy Name" maxlength="255">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2">
                <label for="health" class="form-label">Health:</label>
                <input type="number" id="health" class="form-control">
            </div>
            <div class="col-2">
                <label for="strength" class="form-label">Strength:</label>
                <input type="number" id="strength" class="form-control">
            </div>
            <div class="col-2">
                <label for="itemID" class="form-label">Item ID:</label>
                <input type="number" id="itemID" class="form-control">
            </div>
            <div class="col-2">
                <label for="dropChance" class="form-label">Drop Chance:</label>
                <input type="number" id="dropChance" class="form-control">
            </div>
            <div class="col-2">
                <label for="money" class="form-label">Money:</label>
                <input type="number" id="money" class="form-control">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Alter Enemy</button>
            </div>
        </div>
    </fieldset>
</form>
