<!-- Alter Regions Form -->
<form>
    <fieldset class="form-control">
        <legend>Alter Region</legend>
        <div class="row mb-3">
            <div class="col-2">
             <label for="regionID" class="form-label">Region ID:</label>
                <select class="form-select" id="regionID">
                  <% regionIDs.forEach(function(region) { %>
                    <option value="<%= region.regionID %>"> <%= region.regionID %>: <%= region.name %> </option>
                 <% }) %>
                </select>
            </div>
            <div class="col-4">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" class="form-control" placeholder="Region Name" maxlength="255" required>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <button type="submit" class="btn btn-primary" id="button">Alter Region</button>
            </div>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    
document.getElementById('button').addEventListener('click', async function(event){
            var req = new XMLHttpRequest();
            // CREATING JSON OBJECT TO SEND AS POST REQUEST
            var payload = {id:null, name:null};
            payload.id = document.getElementById('regionID').value;
            payload.name = document.getElementById('name').value;
            req.open('POST', '/regions/alterRegions');
            req.setRequestHeader('Content-Type', 'application/json');

            // PARSING RESPONSE SENT FROM SERVER
            req.addEventListener('load', function() {
                if(req.status >= 200 && req.status < 400){
                    console.log('req sent')
                }
            });

            // SENDING JSON STRING AS POST REQUEST
            req.send(JSON.stringify(payload));
        })

// MAKE GET REQUEST TO POPULATE EDIT FORM VALUES
document.getElementById('regionID').addEventListener('change', async function(event){
            let id = document.getElementById('regionID').value
            console.log(id)
            var req = new XMLHttpRequest();
            req.open('GET', '/regions/alterRegions?id=' + id);
            req.addEventListener('load', function(event) {
                if (req.status >= 200 && req.status < 400) {
                    var response = JSON.parse(req.responseText);
                    var responseData = response["result"];
                    document.getElementById('name').value = responseData[0].name
                    event.preventDefault();
                }
            })
            req.send(null); // request for getting current data to populate values
})
</script>