<!-- Alter Character Form -->

<form>
    <fieldset class="form-control">
        <legend>Alter Character</legend>
        <div class="row mb-3">
            <div class="col-2">
                <label for="charID" class="form-label">Character ID</label>
                <input type="number" id="charID" class="form-control" placeholder="0" required>
            </div>
            <div class="col-4">
                <label for="name" class="form-label">Character Name</label>
                <input type="text" id="name" class="form-control" maxlength="255" placeholder="Character Name">
            </div>
            <div class="col-2">
                <label for="health" class="form-label">Health</label>
                <input type="number" id="health" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2">
                <label for="enemiesKilled" class="form-label">Enemies Killed</label>
                <input type="number" id="enemiesKilled" class="form-control">
            </div>
            <div class="col-2">
                <label for="magic" class="form-label">Magic Points</label>
                <input type="number" id="magic" class="form-control">
            </div>
            <div class="col-2">
                <label for="strength" class="form-label">Strength</label>
                <input type="number" id="strength" class="form-control">
            </div>
            <div class="col-2">
                <label for="money" class="form-label">Money</label>
                <input type="number" id="money" class="form-control">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Submit Changes</button>
            </div>
        </div>
    </fieldset>
</form>
