<!-- Search Bar -->
<div class="container-fluid">
    <form>
        <fieldset>
            <div class="row mb-3">
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Search Characters by Name...">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<!-- Character Table -->
<table class="table caption-top table-striped table-hover">
    <caption>Current Characters</caption>
    <thead>
    <tr>
        <th>Character ID</th>
        <th>Name</th>
        <th>Health</th>
        <th>Enemies Killed</th>
        <th>Magic</th>
        <th>Strength</th>
        <th>Money</th>
        <th>Region ID</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
