<!-- Search Bar -->
<div class="container-fluid">
    <form>
        <fieldset>
            <div class="row mb-3">
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Search Enemies by Name...">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<!-- Enemies Table -->
<table class="table caption-top table-striped table-hover">
    <caption>Current Enemies</caption>
    <thead>
	    <tr>
	        <th>Enemy ID</th>
	        <th>Name</th>
	        <th>Health</th>
	        <th>Strength</th>
	        <th>Item ID</th>
	        <th>Drop Chance</th>
	        <th>Money</th>
	    </tr>
    </thead>
</table>
