<h2>Items</h2>

<!-- Search Bar -->
<div class="container-fluid">
    <form>
        <fieldset>
            <div class="row mb-3">
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Search Items by Name...">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<!-- Items Table -->
<table class="table caption-top table-striped table-hover">
    <caption>Current Items</caption>
    <thead>
	    <tr>
	        <th>Item ID</th>
	        <th>Name</th>
	        <th>Damage</th>
	        <th>Cost</th>
	    </tr>
    </thead>
</table>
